@reference "../globals.css";

.top-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-4 lg:gap-8;
}

.hero-card {
  @apply bg-brand-light rounded-3xl p-3 md:px-8 md:py-4 flex flex-col justify-center border-none overflow-hidden;
}

.hero-text {
  @apply text-hover text-xl/8 text-center md:text-left md:text-2xl/10 lg:text-3xl/12 xl:text-4xl/14;
}

.highlight-text {
  @apply text-rose-gold italic font-medium;
}

/* .hero-card::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, #c4a484 30%, transparent 70%);
  border-radius: 50%;
  opacity: 0.5;
}

.hero-card::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 70px;
  height: 70px;
 border: 2px solid #c4a484;
  border-radius: 50%;
  opacity: 0.25;
} */

/* Profile Card hidden on mobile */
.profile-card {
  @apply bg-brand-light rounded-3xl overflow-hidden border-none md:relative md:block;
}

.profile-image {
  @apply object-contain m-auto md:w-full md:h-full md:absolute py-4 lg:p-6;
}

.sidebar {
  @apply grid sm:col-span-2 sm:grid-cols-2 md:grid-cols-4 md:col-span-4 lg:col-span-1 lg:flex lg:flex-col lg:gap-4 gap-4;
  /* @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-3 md:gap-4 lg:gap-4 lg:col-span-1; */
}

.sidebar-item {
  @apply bg-brand-light rounded-xl p-4 lg:p-6 cursor-pointer border border-[rgba(228,213,199,0.1)] flex justify-between items-center sm:flex-col lg:flex-row transition-all duration-300 hover:bg-[#3d3d3d] hover:translate-x-1 hover:scale-105 w-full;
}

.sidebar-item-title {
  @apply flex items-center md:flex-col lg:flex-row justify-center gap-2;
}

.sidebar-item h3 {
  @apply text-hover font-normal text-lg text-center;
}

.sidebar-item span {
  /* Arrow Hidden on mobile */
  @apply sm:hidden lg:block;
}

.sidebar-item::after {
  @apply text-[#c4a484] text-xl transition-transform duration-300 group-hover:translate-x-2;
}

.about-card {
  @apply text-hover text-base/6 bg-brand-light rounded-3xl p-4 md:p-6 flex flex-1 justify-center border-none relative overflow-hidden lg:col-span-3;
}

.contact-box {
  @apply text-[var(--color-brand-dark)] text-base/6 bg-[var(--color-rose-gold-dark)] rounded-3xl  flex flex-col justify-between items-center gap-4 border-none overflow-hidden cursor-pointer lg:col-span-1 py-6;

  .contact-title {
    @apply text-3xl font-semibold tracking-tight;
  }

  .contact-icons{
    @apply flex flex-row justify-evenly w-full ;

    .icon{
      @apply p-3 bg-[var(--color-rose-gold)] rounded-full hover:scale-120 drop-shadow-md;
      
      svg {
        @apply text-[var(--color-brand-dark)] stroke-2;
      }
    
    }
  }
}
