@reference "../globals.css";

.home-page-sections {
  @apply min-h-screen bg-brand-dark text-brand-light px-8 md:px-10 xl:px-32;
}

.navbar {
  @apply sticky top-4 mx-auto w-[fit-content] z-999 flex items-center gap-6 p-3 rounded-full shadow-lg bg-slate-800/50 backdrop-blur-md border border-white/10 cursor-none;
  .item {
    @apply text-brand-muted hover:text-brand-medium transition text-2xl cursor-none;

    &.selected {
      @apply text-accent-cyan;
    }
  }
}

.section-heading {
  @apply flex flex-col gap-2;

  h2 {
    @apply text-2xl md:text-3xl font-semibold;
  }

  p {
    @apply text-brand-muted text-sm md:text-base;
  }
}

.contact-section {
  @apply max-w-2xl mx-auto w-full;

  .contact-box {
    @apply card card-hover text-base/6 bg-[var(--color-brand-muted)] rounded-3xl  flex flex-col justify-between items-center gap-4 border-none overflow-hidden cursor-pointer lg:col-span-1 py-6;

    .contact-title {
      @apply text-3xl font-semibold tracking-tight;
    }

    .contact-icons {
      @apply flex flex-row justify-evenly w-full;

      .icon {
        @apply p-3 bg-[var(--color-accent-blue)] rounded-full hover:scale-120 drop-shadow-md;

        svg {
          @apply text-[var(--color-brand-dark)] stroke-2;
        }
      }
    }
  }
}
