@reference "../globals.css";

.experience-block {
  @apply mr-0 md:mr-4 md:mb-12 w-full py-4 md:p-8;

  .dot {
    @apply hidden md:block absolute top-6  w-3 h-3 rounded-full bg-[var(--color-accent-blue)] z-10;
    @apply left-[-2.4rem]; /*This depends on the lest padding of .experience-grid*/
  }
  @apply mb-16;
}

.timeline {
  @apply absolute top-4 bottom-4 w-px bg-brand-light hidden md:block;
}

.experience-grid {
  @apply ml-0 md:ml-8 flex flex-col gap-4;
}

.experience-card {
  @apply w-full gap-3 md:max-w-2xl p-6 animate-fadeIn bg-brand-dark border border-[var(--color-brand-muted)];

  .header {
    @apply flex items-start justify-between gap-3 flex-wrap;

    .title-company {
      @apply space-y-1;

      div {
        @apply flex items-center gap-2;
        .icon {
          @apply h-4 w-4 text-accent-blue;
        }
        h3 {
          @apply font-bold text-lg text-brand-light;
        }
      }

      p {
        @apply font-medium text-slate-400;
      }
    }
  }
}
